<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>school</title>
</head>
<body>
    <section class="head">
        <h1>School Portal</h1>
        <div class="nav">
            <div class="logo"></div>
            <div class="navbar">
                <ul>
                    <li>Notices</li>
                    <li>About us</li>
                    <div class="dropdown">
                        <a href="">Vision</a>
                        <a href="">Mission</a>
                        <a href="">Motto</a>
                    </div>
                    <li>Fees structure</li>
                    <li>Accomodation</li>
                    <li>KCPE results</li>
                </ul>
            </div>
            <div class="sign">
                <ul>
                    <li>login</li>
                    <li>logout</li>
                </ul>
            </div>
        </div>
    </section>
    <hr>

    <!-- body starts here -->
    <section class="body">
        <div class="head">
            welcome to Lorem ipsum dolor sit, amet consectetur adipisicing.
        </div>
        <!-- about us -->
        <div class="attributes">
            <h3 id="mission">Our Mission</h3>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="attributes">
            <h3 id="mission">Our Vision</h3>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
       <div class="attributes">
        <h3 id="mission">Our Mission</h3>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
       </div>  
       <!-- history -->
       <h3>background information</h3>
       <div class="history">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Iusto vel placeat esse corrupti non perferendis eveniet nemo, 
                 reiciendis provident? Rerum vitae vel repudiandae quo tempora 
                 eveniet perferendis commodi! Hic, ipsam.
                </p>
       </div>
       <!-- notices -->
       <div class="notices">
        <h3>notices</h3>
        <div class="latest">
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Reprehenderit modi quas nihil aliquid fugit. 
                Itaque nemo natus officiis officia laboriosam.
            </p>
        </div>
       </div>
    </section>
   <!-- footer -->

</body>
</html>