<html>
    <section class="head">
        <div class="nav">
            <div class="navbar">
                <p>name</p>
                <img>
                <ul>
                    <li>Profile</li>
                    <div class="dropdown">
                        <a href="">Name</a>
                        <a href="">Admission</a>
                        <a href="">Age</a>
                        <a href="">Class</a>
                    </div>
                    <li>Academic Results</li>
                    <li>Fee statement</li>
                    <li>Accomodation</li>
                    <div class="dropdown">
                        <a href="">food balances</a>
                        <a href="">accom statements</a>
                    </div>
                    <li>Notice</li>
                </ul>
            </div>
        </div>
    </section>
    
    <section class="body">
<div class="profile">

</div>
    </section>
</html>